@{
    ViewData["Title"] = "关于我";
}
<section class="maincta">
    <div class="layer">
    </div>
    <div class="container-fluid hero">
        <div class="major-header">
            <div class="row">
                <div class="col-sm-11">
                       <div class="goodbye">
                         <div class="row">
                            <div class="col-sm-12">
                                <h1>StartLea</h1>
                            </div>
                        </div>
                    </div>
                 <div class="row">
                    <div class="valueprop">
                        <div class="col-sm-12">
                            <p>E-mail:</p>
                        </div>
                        <div class="col-sm-12">
                            <p>博客:</p>
                        </div>
                    </div>
                </div> 
                </div>
            </div>
        </div>
    </div>
</section>

