html,body{
    height: 100%;
}
.maincta{
    min-height:100%;
    background-image: url('../images/banner_3.webp');
    background-size: cover;
    background-repeat:no-repeat;
    position: relative;
}
.layer {
    background-color: #2B3153;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container-fluid{
    margin-left:100px;
    margin-right:100px;
}
.affix.navbar{
    background-color:#EFEFEF;
}  
    
    
    
    .affix.navbar-default .navbar-toggle {
        color: black;
    }
    
     .affix.navbar .logo {
       background-image:url('');
       background-size: contain;
       width: 78px;
       margin-right:15px;
       height:78px;
       background-repeat:no-repeat;
       margin-top:-26px;
     }
    
    
    .affix.navbar .navbar-nav>li>a{
    color:black;
    
    }
    
    
    .navbar-brand{
    margin:5px;
    }
    
    .logo {
        background-image:url('../favicon.ico');
        background-size: contain;
       width: 78px;
       margin-right:15px;
       height:78px;
       background-repeat:no-repeat;
       margin-top:-26px;
    }
    
    .navbar {
       background-color: transparent;
       background: transparent;
       border-color: transparent;
       font-family:'SF-text';
       padding-top:15px;
       -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        transition: all 0.25s;
        margin-top: -3px;
    
    }
    
    .navbar-default .navbar-nav>li>a {
    color:white;
    }
    
    
    
    .navbar-default .navbar-toggle {
        color: white;
    }
    
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: red;
    }
    
    .btn-divi-top {
        border-radius: 100px;
        background: linear-gradient(135deg, #FF4B4B 0%, #FF1B66 100%);
        color: white;
        padding: 5px 15px;
        font-size: 13px;
        font-weight: 600;
        line-height: 15px;
        margin-top: -2px;
        }
    
      .btn:hover{
    background-image:none;
    background-color:#BC2542 ;
    color:white;
    }
    
    
    
    
    
    
    
    .goodbye{
        font-family: 'exo';
        margin-top:-10px;
    }
    
    
    
    .valueprop{
    font-family:'SF-text';
    font-size:18px;
    
    }
    
    .major-header{
        color:white;
        margin-top:300px;
    
    }
    
    .handheld{
        height:400px;
        float:right;
        margin-right: -115px;
    
    }
    
    
     .btn-divi {
        border-radius: 100px;
        background: linear-gradient(135deg, #FF4B4B 0%, #FF1B66 100%);
        color: white;
        margin-top: 20px;
        padding: 10px 30px;
        font-size: 13px;
        font-weight: 600;
        line-height: 15px;
        outline:none;
    
    }
    
    button:focus, button:active {outline:0 !important;}
    
    .panel2{
    margin-top:60px;
    text-align:center;
    margin-bottom:50px;
    font-family: 'SF-text';
    
    }
    
    .cow{
    height:170px;
    }
    
    .ladmin{
    height:170px;
    margin-left:57px;
    }
    
    .ddrinks{
    height:170px;
    margin-right:47px;
    }
    
    .bigred{
    color:red;
    font-family: 'exo';
    font-size:17px;
    margin-top:35px;
    margin-bottom:11px;
    
    
    }
    
    .cowman {
    padding-right:59px;
    }
    
    .drinkup{
    padding-left:80px;
    }
    
    .littledown{
    margin-top:9px;
    }
    
    .littledown2{
    margin-top:17px;
    }
    
    
    .threepane{
    
    background-color: #EFEFEF;
    }
    
    #rotatingwords {
    font-size:16px;
    color:red;
    font-weight: bold;
    
    }
    
    
    .paynow{
    max-height:80vh;
    margin-top:50px;
    margin-bottom:50px;
    min-height:400px;
    
    }
    
    
    
    .anywhere{
    margin-top:200px;
    color:red;
    Font-family:"exo";
    }
    
    
    .wallettxt{
    margin-top: 10px;
    font-family: 'SF-text';
    font-size: 16px;
    min-height:117px;
    }
    
    
    
    
    .fourpane{
    margin-bottom:60px;
    
    
    }
    
    
    
    .how-works{
    max-width:108%;
    margin-top:25px;
    margin-left:-50px;
    
    
    
    }
    
    .how-it-works{
    text-align:center;
    font-family:'SF-text';
    }
    
    
    
    
    .download{
    margin-left:-35px;
    
    }
    
    .invite{
    margin-left:12px;
    }
    
    .loaded{
    margin-left:17px;
    }
    
    .payit{
    margin-left:6px;
    }
    
    .fourpanesmall{
    text-align:center;
    font-family:'SF-text';
    }
    
    .blocks{
    margin-bottom:30px;
    }
    
    .imgs{
    height:300px;
    display:block;
    margin: 0 auto 10px;    ;
    }
    
    .invimobile{
       margin-top:42px;
    }
    
    .fivepane{
    
    background-color: #EFEFEF;
    
    }
    
    
    
    
    .safe{
    color:red;
    font-family:'EXO';
    margin-top:200px;
    
    }
    
    .safetxt{
    font-family:'SF-text';
    font-size:16px;
    }
    
    
    .safety{
    max-height:80vh;
    min-height:400px;
    margin-bottom: 50px;
    margin-top: 50px;
    }
    
    
    .learnmore{
    margin-top:10px;
    font-family: 'SF-text';
    color: black;
    text-decoration: underline;
    hover:red;
    
    
    }
    
    a:hover{
    color:red;
    }
    
    
    .fivepanesmall{
        background-color:#EFEFEF;
    }
    
    .safesmall{
    color:red;
    font-family:'EXO';
    margin-top:-20px;
    text-align:center;
    margin-bottom:10px;
    
    }
    
    .learnmoresmall{
    margin-bottom:50px;
    margin-top:10px;
    font-family: 'SF-text';
    color: black;
    text-decoration: underline;
    hover:red;
    text-align:center;
    }
    
    
    .panel6{
        margin-top:170px;
        text-align:center;
        margin-bottom:170px;
        font-family: 'SF-text';
    }
    
    
    
    .itfree{
        color:red;
    }
    
    .nocost{
    font-family:'SF-text';
        font-size: 23px;
        margin-top: 14px;
    }
    
    
    
    
    
    
    /* MEDIA TAGS */
    
    
    
    
    @media (max-width:400px){
        .ttopbutton{
            display: flex;
            justify-content: center;
        }
    
       .valueprop{
            text-align:center;
        }
    
        .goodbye{
            margin-top:-145px;
            text-align:center;
        }
    
    
    
    
         .fivepane{
            display:none;
        }
        .how-works {
           max-width:96vw;
           margin-left:-20px;
        }
           }
    
    @media (min-width:420px){
        .lineza{
            display:block;
        }
         .fivepanesmall{
        display:none;
        }
        }
    
    
    
    @media (min-width:768px){
        .fourpanesmall {
          display:none;
        }
        }
    
    @media (max-width:767px){
        .safe {
            margin-top:50px;
            text-align:center;
        }
    
        .safetxt{
            text-align:center;
        }
    
        .safety {
            max-height:70vh;
            display:block;
            margin: auto;
        }
    
       .learnmore {
            text-align: center;
        }
    
        .tbutton {
            display: flex;
            justify-content: center;
            margin-top:-25px;
            margin-bottom: 40px;
        }
    
         .paynow {
            max-height:70vh;
            margin: Auto;
            display:block;
          }
    
        .anywhere{
            margin-top:0;
            text-align:center;
        }
    
        .wallettxt {
            padding-bottom:50px;
            text-align:center;
        }
        .container-fluid{
            margin-left:20px;
            margin-right:20px;
    
    
        }
        .fourpane {
          display:none;
        }
    
         .navbar-collapse {
            background:#2B3153 ;
            border:none;
        }
    
        .affix.navbar .navbar-collapse {
            background: #EFEFEF;
            border:none;
    
        }
        }
    
    
    @media(max-width:430px){
        .panel6{
              margin-top:70px;
            margin-bottom:70px;
        }
    
    
        }
    
    @media (max-height:736px){
        .goodbye {
            margin-top:-108px;
        }
        }
    
    @media (max-width:501px){
        .lineza{
            display:none;
        }
        }
    
    
    @media (max-width:808px){
        .wallettxt{
            min-height:205px;
    }
    }
    
    
    @media (max-width:947px){
        .wallettxt{
            min-height:198px;
        }
    }
    
    
    
    
    
    
    
    /* when the three icons move from vertical stack to horizontal */
    @media (max-width:991px){
        .cowman {
            padding:0;
            margin-bottom:50px;
        }
    
        .ddrinks{
            margin-right:20px;
        }
    
        .drinkup{
            padding:0;
            margin-top:50px;
        }
    }
    
    
    
    
    
    
    /* hand held image */
    
    
    
    @media (min-width:1300px){
        .handheld{
            margin-top:-200px;
        }
        }
    
      @media (max-width:1240px){
        .handheld{
            height:200px;
            margin-top:30px;
    
        }
        }
    
    /*
     @media (max-width:1075px){
        .handheld{
            height:400px;
            margin-top: 0;
        }
        }
        */
    
    
    @media (max-width:954px){
        .handheld{
            margin-top:100px;
    
        }
        }
    
     @media (max-width:767px){
        .handheld{
            height:550px;
            margin-top: -8px;
            margin-right:-35px;
            }
        }
    
    
    
         @media (max-width:575px){
        .handheld{
            height:244px;
            margin-top: 0;
            margin-right:-35px;
            }
    
        }
    
     @media (max-width:320px){
        .handheld{
            height:204px;
            margin-top: 0;
            margin-right:-35px;
            }
            }
    
    
    
    /*
    
     @media (max-width:795px){
        .handheld{
            height:250px;
            margin-top: none;
        }
        }
    
        @media (max-width:767px){
        .handheld{
            height:450px;
            margin-top: none;
            margin-right:-35px;
            margin-bottom:100px;
        }
        }
    
    */
    
    
    
    
    
    
    
    
    
    
    
    /* Ipad Min-Height */
    
    
    
    
    @media (min-height:1024px){
        .goodbye {
            margin-top:-108px;
        }
    
        .safe {
            margin-top:138px;
            }
    
        .paynow {
            max-height:40vh;
        }
        .safety {
            max-height:45vh;
    
    
        }
    
        .anywhere{
           margin-top:100px;
        }
        }
    
    
    
    
    
    .footme{
        background-color:#EFEFEF;
    }
    
    .bizinfo{
        text-align:center;
    }
    .email{
        text-align:center;
        margin-top:30px;
    }
    
    .linkblack{
        text-align:center;
        margin-top:30px;
    }
    
    .linkblack2{
        text-align:center;
        margin-bottom:23px;
    }
    
    .linkblack2 a:hover{
        color:red;
    }
    
    .linkblack2 a{
        color:black;
    }
    
    .linkblack a{
        color:black;
    }
    
    .linkblack a:hover{
    color:red;
    }
    
    
    
    
    
    
    
    /* PRIVACY + FAQs +Terms DOC */
    
    
    
    .privacy .navbar, .terms .navbar, .faqs .navbar  {
       background-color: #EFEFEF;
       }
    
     .privacy .navbar-default .navbar-toggle, .terms .navbar-default .navbar-toggle, .faqs .navbar-default .navbar-toggle {
        color: black;
    }
    
    .privacy .navbar-default .navbar-nav>li>a,.terms .navbar-default .navbar-nav>li>a, .faqs .navbar-default .navbar-nav>li>a {
    color:black;
    }
    
    
    @media (max-width:767px){
        .privacy .navbar-collapse, .terms .navbar-collapse, .faqs .navbar-collapse{
            background:#EFEFEF;;
            border:none;
    }
    }
    
    .privacy .logo, .terms .logo, .faqs .logo {
        background-image:url('../favicon.ico');
        background-size: contain;
        width: 78px;
        margin-right:15px;
        height:78px;
        background-repeat:no-repeat;
        margin-top:-26px;
    }
    .privacydoc{
        margin-top:100px;
        margin-bottom:100px;
       }
    
    .bigh{
    font-family: 'exo';
    font-size:26px;
    }
    
    .smallh{
    font-family: 'exo';
    }
    
    .intext{
    font-family: 'SF-text';
    }
    
    .its{
        font-style:italic;
    }
    
    .boldit{
    font-weight:bold;
    }
    
    .faqdoc {
        margin-top:100px;
        margin-bottom:100px;
       }
    
    
    .termsdoc {
        margin-top:100px;
        margin-bottom:100px;
       }
    
    .privacy h2{
        font-family: 'exo';
        font-size:26px;
    }
    
    .privacy p{
        font-family: 'SF-text';
    }
    
    .privacy h4{
    font-family: 'exo';
    }
    
    
    
    .privacy .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: red;
    
    }
    
    .faqdoc, {
        margin-top:100px;
        margin-bottom:100px;
       }
    
     .faqdoc h2 {
        font-family: 'exo';
        font-size:24px;
     }
    
     .centerthis {
        text-align:center;
        }
    .error-404 {
        min-height: calc(100vh - 163px - 76px);
        margin-top: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .error-404 h1 {
        font-family: 'exo';
    }
    .error-404 h2 {
        font-family: 'sf-text';
    }
    .error-404 .error-type {
        font-size: 60px;
        color: red;
    }
    
    .error-404 .home-button button {
        margin-top: 35px;
    }